<h1 class="text-3xl font-black">Welcomer</h1>
<p class="mt-1 text-white text-opacity-60 text-[#8b9294]">It can welcome and say bye!</p>
<br>
<form id="saveForm" class="flex lg:w-[30vw] md:w-[50vw] flex-col">
    <label for="wmsg">Welcome Message (Placeholders: {user}, {guildname}, {timestamp})</label>
    <textarea id="wmsg" class="block bg-[#202125] w-[100%] my-[5px] p-[8px] rounded-[6px] text-[#8b9294] outline-none"></textarea>
    <label for="wcs">Welcome Channel</label>
    <select id="wcs" class="block bg-[#202125] w-[100%] my-[5px] p-[8px] rounded-[6px] text-[#8b9294] outline-none"></select>
    <label for="lmsg">Leave Message (Placeholders: {user}, {guildname}, {timestamp})</label>
    <textarea id="lmsg" class="block bg-[#202125] w-[100%] my-[5px] p-[8px] rounded-[6px] text-[#8b9294] outline-none"></textarea>
    <label for="lcs">Leave Channel</label>
    <select id="lcs" class="block bg-[#202125] w-[100%] my-[5px] p-[8px] rounded-[6px] text-[#8b9294] outline-none"></select>
    <br>
    <a class="bg-[#5865f2] rounded-[8px] py-[10px] px-[15px] text-[20px] transition duration-[0.225s] hover:bg-[#4150F1] hover:cursor-pointer" type="submit" id="savebtn">Save Changes</a>
</form>
<script type="text/javascript" id="invisible">
    const connector_url = "<%= connector_url %>";
    const wcs_s = document.querySelector("#wcs");
    const lcs_s = document.querySelector("#lcs");
    const savebtn = document.querySelector("#savebtn");
    fetch(new URL(`/api/get_channels?guild_id=<%= guild_id %>`, connector_url), {
            headers: {
                "Authorization": "<%= token %>"
            }
        })
        .then(res => res.json())
        .then(async (res) => {
            res.channels.forEach(obj => {
                const optionObject = document.createElement("option");
                optionObject.setAttribute("value", obj.id);
                optionObject.textContent = obj.name;
                wcs_s.appendChild(optionObject);
                const optionObjectAlt = document.createElement("option");
                optionObjectAlt.setAttribute("value", obj.id);
                optionObjectAlt.textContent = obj.name;
                lcs_s.appendChild(optionObjectAlt);
            });
    });
    savebtn.addEventListener("click", async (e) => {
        fetch(new URL("/api/save", connector_url), { method: "post", headers: {
            "Content-Type": "application/json",
            "Authorization": "<%= token %>"
        }, body: JSON.stringify({
            feature: "welcomer",
            guild_id: "<%= guild_id %>",
            data: {
                welcome_message: document.querySelector("#wmsg").value,
                welcome_channel: document.querySelector("#wcs").value,
                leave_message: document.querySelector("#lmsg").value,
                leave_channel: document.querySelector("#lcs").value
            }
        }) })
            .then((res) => {
                if (res.status == 200) {
                    res.json().then(json => {
                        createToast("success", "Welcomer", json.message)
                    });
                } else {
                    res.json().then(json => {
                        createToast("error", "Error", "An error occured.");
                        console.log(json);
                    });
                }
            })
    });
</script>