<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head") -%>
    <link href="/assets/css/button.css" rel="stylesheet">
    <link href="/assets/css/input.css" rel="stylesheet">
<body>
    <%- include("../components/navigation") -%>
    <div class="container">
        <h1 class="title">Welcomer</h1>
        <p class="subtitle">It can welcome and say bye!</p>
        <form id="saveForm" onsubmit="save();" style="width: 30vw; display: flex; flex-direction: column;">
            <label for="wmsg">Welcome Message</label>
            <input id="wmsg">
            <label for="wcs">Welcome Channel</label>
            <select id="wcs"></select>
            <label for="lmsg">Leave Message</label>
            <input id="lmsg">
            <label for="lcs">Leave Channel</label>
            <select id="lcs"></select>
            <br>
            <a class="button" type="submit">Save Changes</a>
        </form>
    </div>
    <script>

        const connector_url = "http://localhost:443/";

        const wcs_s = document.querySelector("#wcs");
        const lcs_s = document.querySelector("#lcs");

        fetch(new URL(`/api/get_channels?token=<%= token %>&guild_id=<%= guild_id %>`, connector_url))
            .then(res => res.json())
            .then(async (res) => {
                console.log(res);
                res.channels.forEach(obj => {
                    const optionObject = document.createElement("option");
                    optionObject.setAttribute("value", obj.id);
                    optionObject.textContent = obj.name;
                    wcs_s.appendChild(optionObject);
                    const optionObjectAlt = document.createElement("option");
                    optionObjectAlt.setAttribute("value", obj.id);
                    optionObjectAlt.textContent = obj.name;
                    lcs_s.appendChild(optionObjectAlt);
                });
        });
        async function save() {
            fetch(new URL("/api/save/", connector_url), { method: "post", body: JSON.stringify({
                token: "<%= token %>",
                guild_id: "<%= guild_id %>",
            }) })
                .then(res => res.json())
                .then(async (res) => {
                    // soon
                });
        }
            
    </script>
    <%- include("../components/footer") -%>
</body>
</html>